
NAME=jenkins


JAVA_ARGS="-Djava.awt.headless=true"



PIDFILE=/var/run/$NAME/$NAME.pid

JENKINS_USER=$NAME
JENKINS_GROUP=$NAME

JENKINS_WAR=/usr/share/$NAME/$NAME.war

JENKINS_HOME=/var/lib/$NAME

RUN_STANDALONE=true

JENKINS_LOG=/var/log/$NAME/$NAME.log

JENKINS_ENABLE_ACCESS_LOG="no"

MAXOPENFILES=8192



HTTP_PORT=8081


PREFIX=/$NAME


JENKINS_ARGS="--webroot=/var/cache/$NAME/war --httpPort=$HTTP_PORT"
